
## NAGIOS FILE FOR DEFAULT IMPLEMENTATION
############################################


###############################################################################
# HOST DEFINITION
###############################################################################
# Define a host for the local machine
define host{
    use                     linux-server    
    host_name               <%=@active_machine_host_name%>
    alias                   <%=@active_machine_alias%>
    address                 <%=@active_machine_ip%>
}

<% unless @passive_machine_ip.nil? %>
define host{
    use                     linux-server
    host_name               <%=@passive_machine_host_name%>
    alias                   <%=@passive_machine_alias%>
    address                 <%=@passive_machine_ip%>
}
<% end %>

###############################################################################
# HOST GROUP DEFINITION
###############################################################################
define hostgroup{
    hostgroup_name  linux-servers       ; The name of the hostgroup
    alias           Linux Servers       ; Long name of the group
    members         <%=@active_machine_host_name%> <% unless @passive_machine_ip.nil? %>,<%=@passive_machine_host_name%><% end %>   ; Comma separated list of hosts that belong to this group
}

# ###############################################################################
# # SERVICE DEFINITIONS
# ###############################################################################
# ###################### OS <%=@active_machine_host_name%> #########################
define service{
    use                             emrservice         ; Name of service template to use
    host_name                       <%=@active_machine_host_name%>
    service_description             Root Partition
    check_command                   check_nrpe!check_disk
}   

define service{
    use                             emrservice
    host_name                       <%=@active_machine_host_name%>
    service_description             Total Processes
    check_command                   check_nrpe!check_procs
}

define service{
    use                             emrservice
    host_name                       <%=@active_machine_host_name%>
    service_description             Current Load
    check_command                   check_nrpe!check_load
}

define service{
    use                             emrservice
    host_name                       <%=@active_machine_host_name%>
    service_description             Swap Usage
    check_command                   check_nrpe!check_swap
}

###################### OS <%=@passive_machine_host_name%> #########################
<% unless @passive_machine_ip.nil? %>
define service{
    use                             emrservice
    host_name                       <%=@passive_machine_host_name%>
    service_description             Root Partition
    check_command                   check_local_disk!20%!10%!/
}   

define service{
    use                             emrservice
    host_name                       <%=@passive_machine_host_name%>
    service_description             Total Processes
    check_command                   check_local_procs!300!400!RSZDT
}

define service{
    use                             emrservice
    host_name                       <%=@passive_machine_host_name%>
    service_description             Current Load
    check_command                   check_local_load!5.0,4.0,3.0!10.0,6.0,4.0
}

define service{
    use                             emrservice
    host_name                       <%=@passive_machine_host_name%>
    service_description             Swap Usage
    check_command                   check_local_swap!20!10
}
<% end %>
######################## SERVICES <%=@active_machine_host_name%> ########################
define service{
    use                             emrservice
    host_name                       <%=@active_machine_host_name%>
    service_description             SSH
    check_command                   check_ssh
}

define service{
   use                             emrhighlyavailableservice
   host_name                       <%=@active_machine_host_name%>
   service_description             HTTP
   check_command                   check_http
}

define service{
    use                             emrhighlyavailableservice
    host_name                       <%=@active_machine_host_name%>
    service_description             Apache
    check_command                   check_apache_httpd
}

define service{
    use                             emrservice
    host_name                       <%=@active_machine_host_name%>
    service_description             Postgres
    check_command                   check_pgsql!postgres!openerp
}

define service{
    use                             emrservice
    host_name                       <%=@active_machine_host_name%>
    service_description             Postgres Autovaccum
    check_command                   check_nrpe!check_postgres_autovacuum
}

define service{
    use                             emrservice
    host_name                       <%=@active_machine_host_name%>
    service_description             MySql
    check_command                   check_mysql!root!<%=@mysqlRootPassword%>
}

define service{
    use                             emrservice
    host_name                       <%=@active_machine_host_name%>
    service_description             OpenMRS access to database
    check_command                   check_openmrs_access_to_db!<%=@nagios_openmrs_user%>!<%=@nagios_openmrs_user_password%>
}

define service{
    use                             emrservice
    host_name                       <%=@active_machine_host_name%>
    service_description             OpenMRS scheduled tasks status
    check_command                   check_openmrs_scheduled_task!<%=@nagios_openmrs_user%>!<%=@nagios_openmrs_user_password%>!OpenElisPatientFeedTask OpenElisPatientFeedFailedEventsTask EventRecordsNumberOffsetMarkerTask CloseStaleVisitsTask
}

define service{
    use                             emr-slow-recovery-service
    host_name                       <%=@active_machine_host_name%>
    service_description             OpenMRS Failed events
    check_command                   check_failed_events_in_mysql!root!<%=@mysqlRootPassword%>!openmrs!1
}

define service{
    use                             emrservice
    host_name                       <%=@active_machine_host_name%>
    service_description             OpenERP access
    check_command                   check_openerp
}

define service{
    use                             emrservice
    host_name                       <%=@active_machine_host_name%>
    service_description             OpenERP Atom Feed Server
    check_command                   check_openerp_atomfeed_server
}

define service{
    use                             emrservice
    host_name                       <%=@active_machine_host_name%>
    service_description             OpenERP Atom Feed Server access to database
    check_command                   check_openerp_access_to_db
}

define service{
    use                             emrservice
    host_name                       <%=@active_machine_host_name%>
    service_description             OpenERP Atom Feed Server scheduled tasks status
    check_command                   check_openerp_atom_feed_server_scheduled_task!openerpCustomerFeedQuartzFailedJob openerpCustomerFeedQuartzJob eventRecordsNumberOffsetMarkerJob
}

define service{
    use                             emr-slow-recovery-service
    host_name                       <%=@active_machine_host_name%>
    service_description             OpenERP Failed events
    check_command                   check_failed_events_in_postgres!openerp!openerp!1
}

define service{
    use                             emrservice
    host_name                       <%=@active_machine_host_name%>
    service_description             OpenELIS access
    check_command                   check_openelis!<%=@openelis_username%>!<%=@openelis_password%>
}

define service{
    use                             emrservice
    host_name                       <%=@active_machine_host_name%>
    service_description             OpenELIS scheduled tasks status
    check_command                   check_openelis_scheduled_task!<%=@openelis_username%>!<%=@openelis_password%>!atom-feed-openmrs-lab atom-feed-openmrs-lab-failed atom-feed-openmrs-patient atom-feed-openmrs-patient-failed atom-feed-events-offset-marker atom-feed-openmrs-encounter atom-feed-openmrs-encounter-failed
}

define service{
    use                             emr-slow-recovery-service
    host_name                       <%=@active_machine_host_name%>
    service_description             OpenELIS Failed events
    check_command                   check_failed_events_in_postgres!clinlims!clinlims!1
}

define service{
    use                             emrservice
    host_name                       <%=@active_machine_host_name%>
    service_description             Reference Data access 
    check_command                   check_reference_data
}


######################## SERVICES <%=@passive_machine_host_name%> ########################
<% unless @passive_machine_ip.nil? %>
define service{
    use                             emrservice
    host_name                       <%=@passive_machine_host_name%>
    service_description             SSH
    check_command                   check_ssh
}

define service{
   use                             emrhighlyavailableservice
   host_name                       <%=@passive_machine_host_name%>
   service_description             HTTP
   check_command                   check_http
}

define service{
    use                             emrservice
    host_name                       <%=@passive_machine_host_name%>
    service_description             Postgres
    check_command                   check_pgsql!postgres!openerp
}

define service{
    use                             emrservice
    host_name                       <%=@passive_machine_host_name%>
    service_description             MySql
    check_command                   check_mysql!root!<%=@mysqlRootPassword%>
}

define service{
    use                             emrservice
    host_name                       <%=@passive_machine_host_name%>
    service_description             MySql Replication
    check_command                   check_mysql_replication!root!<%=@mysqlRootPassword%>!<%=@passive_machine_ip%>
}

define service{
    use                             emrservice
    host_name                       <%=@passive_machine_host_name%>
    service_description             Postgres Replication
    check_command                   check_postgres_replication!$HOSTADDRESS:<%=@active_machine_host_name%>$!postgres!openerp!10000!20000
}

define service{
   use                             emrservice
   host_name                       <%=@passive_machine_host_name%>
   service_description             Jasper Server
   check_command                   check_jasperserver
}
<% end %>
